<a href="https://colab.research.google.com/github/PsicoJazz/Ciencia-de-Dados/blob/main/Prepara%C3%A7%C3%A3o_e_pr%C3%A9_processamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('atp_2021.csv')

In [ ]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
2729,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
2730,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
2731,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
2732,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [ ]:
dados.head(5)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2733 entries, 0 to 2732
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2733 non-null   object
 1   tourney_name        2733 non-null   object
 2   surface             2733 non-null   object
 3   draw_size           2733 non-null   int64
 4   tourney_level       2733 non-null   object
 5   tourney_date        2733 non-null   int64
 6   match_num           2733 non-null   int64
 7   winner_id           2733 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2733 non-null   object
 11  winner_hand         2733 non-null   object
 12  winner_ht           2724 non-null   float64
 13  winner_ioc          2733 non-null   object
 14  winner_age          2733 non-null   float64
 15  loser_id            2733 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2733 non-null   object
 19  loser_hand          2733 non-null   object
 20  loser_ht            2698 non-null   float64
 21  loser_ioc           2733 non-null   object
 22  loser_age           2733 non-null   float64
 23  score               2733 non-null   object
 24  best_of             2733 non-null   int64
 25  round               2733 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2729 non-null   float64
 46  winner_rank_points  2729 non-null   float64
 47  loser_rank          2707 non-null   float64
 48  loser_rank_points   2707 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [ ]:
dados.describe(include='all')

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,2733,2733,2733,2733.000000,2733,2.733000e+03,2733.000000,2733.000000,1165.000000,417,...,2636.000000,2636.000000,2636.000000,2637.000000,2636.000000,2636.000000,2729.000000,2729.000000,2707.000000,2707.000000
unique,114,114,3,NaN,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-580,Australian Open,Hard,NaN,A,NaN,NaN,NaN,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,127,127,1608,NaN,1569,NaN,NaN,NaN,NaN,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,62.609587,NaN,2.021060e+07,243.248811,127500.755946,7.687554,NaN,...,50.118361,33.325493,14.494689,12.420554,4.843323,8.714719,70.593624,2229.913888,103.034355,1390.971555
std,NaN,NaN,NaN,41.521804,NaN,2.855522e+02,73.915192,33930.996942,7.133621,NaN,...,19.075552,14.205041,6.857036,4.224477,3.253624,4.126347,103.028379,2484.822372,149.125316,1460.007475
min,NaN,NaN,NaN,2.000000,NaN,2.021010e+07,1.000000,100644.000000,1.000000,NaN,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,NaN,NaN,NaN,32.000000,NaN,2.021032e+07,224.000000,105575.000000,3.000000,NaN,...,36.000000,23.000000,10.000000,9.000000,2.000000,6.000000,19.000000,858.000000,37.000000,709.000000
50%,NaN,NaN,NaN,64.000000,NaN,2.021061e+07,276.000000,106432.000000,6.000000,NaN,...,47.000000,31.000000,14.000000,11.000000,4.000000,8.000000,47.000000,1344.000000,68.000000,993.000000
75%,NaN,NaN,NaN,128.000000,NaN,2.021082e+07,289.000000,128034.000000,10.000000,NaN,...,61.000000,42.000000,18.000000,15.000000,7.000000,11.000000,87.000000,2423.000000,112.000000,1595.000000
max,NaN,NaN,NaN,128.000000,NaN,2.021120e+07,300.000000,210107.000000,32.000000,NaN,...,165.000000,104.000000,48.000000,31.000000,27.000000,38.000000,1758.000000,12113.000000,2146.000000,12113.000000

In [ ]:
dados.isnull()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2729,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2730,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2731,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False
2732,False,False,False,False,False,False,False,False,True,True,...,True,True,True,True,True,True,False,False,False,False

In [ ]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1568
winner_entry          2316
winner_name              0
winner_hand              0
winner_ht                9
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2040
loser_entry           2098
loser_name               0
loser_hand               0
loser_ht                35
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 83
w_ace                   97
w_df                    97
w_svpt                  97
w_1stIn                 97
w_1stWon                97
w_2ndWon                97
w_SvGms                 96
w_bpSaved               97
w_bpFaced               97
l_ace                   97
l_df                    97
l_svpt                  97
l_1stIn                 97
l_1stWon                97
l_2ndWon                97
l_SvGms                 96
l_bpSaved               97
l_bpFaced               97
winner_rank              4
winner_rank_points       4
loser_rank              26
loser_rank_points       26
dtype: int64

In [ ]:
dados['winner_entry'].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [ ]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'LL', 'SE', 'Alt', 'PR'], dtype=object)

# Apagar linhas em que o atrobuto é nulo

In [ ]:
dados.dropna(subset=['loser_rank'], inplace=True)

# Apagar coluna em que todos os valores são nulos

In [ ]:
dados.dropna(axis=1, how='all')

# Alterar valor dados nulos de uma coluna

In [ ]:
dados['loser_entry'].unique()

array([nan, 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

In [ ]:
dados['loser_entry'].fillna(value='x', inplace=True)

<ipython-input-30-6c31d01df270>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['loser_entry'].fillna(value='x', inplace=True)

In [ ]:
dados['loser_entry'].unique()

array(['x', 'PR', 'Q', 'LL', 'WC', 'SE', 'Alt'], dtype=object)

# Alterar mais de um atrobuto com condições diferentes

In [ ]:
dados['w_ace'].unique()

array([nan,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22.,  0., 23., 21.,
       32., 26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31.,
       36.])

In [ ]:
dados['loser_ht'].unique()

array([180., 183., 188., 185., 193., 191., 173., 170., 178., 196., 198.,
       175., 181., 211., 190., 208., 203.,  nan, 172., 206., 194., 201.,
       189.])

In [ ]:
dados.fillna(value={'w_ace':0, 'loser_ht':dados['loser_ht'].mean()}, inplace=True)

In [ ]:
dados['w_ace'].unique()

array([ 0.,  5.,  1.,  2.,  3.,  6.,  4., 11.,  8., 15.,  9., 20., 12.,
       24., 14., 17., 13., 19., 10.,  7., 16., 18., 22., 23., 21., 32.,
       26., 25., 27., 28., 29., 41., 34., 30., 44., 33., 49., 31., 36.])

In [ ]:
dados['loser_ht'].unique()

array([180.        , 183.        , 188.        , 185.        ,
       193.        , 191.        , 173.        , 170.        ,
       178.        , 196.        , 198.        , 175.        ,
       181.        , 211.        , 190.        , 208.        ,
       203.        , 186.63866171, 172.        , 206.        ,
       194.        , 201.        , 189.        ])

# Metodo ffill, projeta dado anterios ao proximo nulo

In [ ]:
dados['minutes'][1975:1990]

1978     67.0
1979    129.0
1980     91.0
1981    140.0
1982     83.0
1983     74.0
1984     90.0
1985     71.0
1986    124.0
1987    140.0
1988    169.0
1989     59.0
1990    130.0
1991    116.0
1992    102.0
Name: minutes, dtype: float64

In [ ]:
dados['minutes'].fillna(method='ffill', inplace=True)

<ipython-input-43-8de30786bff0>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados['minutes'].fillna(method='ffill', inplace=True)
<ipython-input-43-8de30786bff0>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dados['minutes'].fillna(method='ffill', inplace=True)

In [ ]:
dados['minutes'][1975:1990]

1978     67.0
1979    129.0
1980     91.0
1981    140.0
1982     83.0
1983     74.0
1984     90.0
1985     71.0
1986    124.0
1987    140.0
1988    169.0
1989     59.0
1990    130.0
1991    116.0
1992    102.0
Name: minutes, dtype: float64

# Identificar duplicados

In [ ]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2728    False
2729    False
2730    False
2731    False
2732    False
Length: 2707, dtype: bool

In [ ]:
dados.duplicated().sum()

0

# ELiminar duplicados de uma coluna

In [ ]:
dados.drop_duplicates(subset=['tourney_name'], inplace=True)

In [ ]:
dados['tourney_name'].head(10)

0      Tokyo Olympics
64             Munich
91       Queen's Club
122            Gstaad
149           Newport
176            Bastad
203         Kitzbuhel
230         Stuttgart
257            Geneva
284            Vienna
Name: tourney_name, dtype: object

In [ ]:
dados.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,110.000000,1.100000e+02,110.000000,110.000000,11.000000,108.000000,110.000000,110.000000,2.000000,110.000000,...,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,109.000000,109.000000,110.000000,110.000000
mean,28.272727,2.021077e+07,147.463636,132444.963636,2.636364,185.814815,26.620909,127675.763636,7.500000,186.035600,...,46.113208,29.518868,12.481132,10.933962,4.462264,8.141509,130.963303,1659.550459,206.081818,774.890909
std,31.388045,3.299224e+02,127.788578,35819.636900,2.540580,5.913944,4.900966,36480.909687,0.707107,6.694571,...,19.663028,13.125933,5.926906,3.002440,3.604691,4.681145,167.072003,2475.617400,276.922608,722.899353
min,2.000000,2.021010e+07,1.000000,100644.000000,1.000000,170.000000,17.800000,103852.000000,7.000000,170.000000,...,16.000000,5.000000,2.000000,4.000000,0.000000,1.000000,1.000000,7.000000,5.000000,1.000000
25%,4.000000,2.021050e+07,1.000000,105606.250000,1.000000,183.000000,23.550000,105526.000000,7.250000,183.000000,...,33.250000,20.250000,8.000000,9.000000,2.000000,5.000000,42.000000,477.000000,67.000000,238.000000
50%,32.000000,2.021092e+07,239.000000,124940.500000,2.000000,185.000000,25.100000,106165.500000,7.500000,185.000000,...,42.500000,27.000000,12.500000,10.000000,4.000000,7.500000,95.000000,811.000000,101.500000,780.000000
75%,32.000000,2.021111e+07,271.000000,136022.500000,2.000000,188.000000,29.525000,130971.750000,7.750000,189.500000,...,56.000000,37.000000,16.000000,13.000000,6.000000,11.000000,155.000000,1492.000000,251.750000,999.000000
max,128.000000,2.021120e+07,286.000000,209867.000000,9.000000,198.000000,40.100000,208502.000000,8.000000,211.000000,...,165.000000,90.000000,32.000000,18.000000,27.000000,38.000000,1165.000000,12113.000000,1921.000000,5150.000000

# Transformar dados qualitativos em numericos

In [ ]:
dados['tourney_name']

0                     Tokyo Olympics
64                            Munich
91                      Queen's Club
122                           Gstaad
149                          Newport
                    ...
2710    Davis Cup WG2 R1: RSA vs VEN
2716    Davis Cup WG2 R1: SUI vs EST
2720    Davis Cup WG2 R1: THA vs DEN
2724    Davis Cup WG2 R1: TUR vs LAT
2727                       Laver Cup
Name: tourney_name, Length: 110, dtype: object

In [ ]:
dados['tourney_name'].unique()

array(['Tokyo Olympics', 'Munich', "Queen's Club", 'Gstaad', 'Newport',
       'Bastad', 'Kitzbuhel', 'Stuttgart', 'Geneva', 'Vienna', 'Metz',
       'Paris Masters', 'Montpellier', 'Miami Masters',
       'Indian Wells Masters', 'Rotterdam', 'Monte Carlo Masters',
       'Hamburg', 'Rome Masters', 'Washington', 'Canada Masters',
       'Cincinnati Masters', 'Barcelona', 'Stockholm', 'Moscow', 'Umag',
       'Doha', 'Dubai', 'Marseille', 'Delray Beach', 'Halle',
       'Buenos Aires', 'St. Petersburg', 'Tour Finals', 'Eastbourne',
       'Acapulco', 'Madrid Masters', 'Belgrade', 'Roland Garros',
       'Wimbledon', 'Us Open', 'Australian Open', 'Atlanta',
       'Winston-Salem', 'Estoril', 'Sofia', 'Los Cabos', 'Antwerp',
       'Lyon', 'NextGen Finals', 'Atp Cup', 'Mallorca', 'Santiago',
       'Great Ocean Road Open', 'Cordoba', 'Nur-Sultan', 'Antalya',
       'Murray River Open', 'Singapore', 'Marbella', 'Cagliari', 'Parma',
       'Belgrade 2', 'San Diego', 'Davis Cup Finals RR: ESP vs ECU',
       'Davis Cup Finals RR: ESP vs RTF',
       'Davis Cup Finals RR: RTF vs ECU',
       'Davis Cup Finals RR: CAN vs KAZ',
       'Davis Cup Finals RR: CAN vs SWE',
       'Davis Cup Finals RR: KAZ vs SWE',
       'Davis Cup Finals RR: FRA vs CZE',
       'Davis Cup Finals RR: FRA vs GBR',
       'Davis Cup Finals RR: GBR vs CZE',
       'Davis Cup Finals RR: AUS vs HUN',
       'Davis Cup Finals RR: CRO vs AUS',
       'Davis Cup Finals RR: CRO vs HUN',
       'Davis Cup Finals RR: ITA vs COL',
       'Davis Cup Finals RR: USA vs COL',
       'Davis Cup Finals RR: USA vs ITA',
       'Davis Cup Finals RR: GER vs AUT',
       'Davis Cup Finals RR: SRB vs AUT',
       'Davis Cup Finals RR: SRB vs GER',
       'Davis Cup Finals SF: CRO vs SRB',
       'Davis Cup Finals QF: GBR vs GER',
       'Davis Cup Finals QF: ITA vs CRO',
       'Davis Cup Finals F: RTF vs CRO',
       'Davis Cup Finals SF: RTF vs GER',
       'Davis Cup Finals QF: RTF vs SWE',
       'Davis Cup Finals QF: SRB vs KAZ', 'Davis Cup WG1 PO: UKR vs NOR',
       'Davis Cup WG1 R1: ARG vs BLR', 'Davis Cup WG1 R1: BEL vs BOL',
       'Davis Cup WG1 R1: BIH vs PER', 'Davis Cup WG1 R1: BRA vs LBN',
       'Davis Cup WG1 R1: CHI vs SVK', 'Davis Cup WG1 R1: IND vs FIN',
       'Davis Cup WG1 R1: ISR vs UKR', 'Davis Cup WG1 R1: NED vs URU',
       'Davis Cup WG1 R1: POR vs ROU', 'Davis Cup WG1 R1: UZB vs NOR',
       'Davis Cup WG2 PO: TUN vs ZIM', 'Davis Cup WG2 R1: DOM vs TUN',
       'Davis Cup WG2 R1: LTU vs GRE', 'Davis Cup WG2 R1: MEX vs BUL',
       'Davis Cup WG2 R1: POL vs ESA', 'Davis Cup WG2 R1: RSA vs VEN',
       'Davis Cup WG2 R1: SUI vs EST', 'Davis Cup WG2 R1: THA vs DEN',
       'Davis Cup WG2 R1: TUR vs LAT', 'Laver Cup'], dtype=object)

Importar o SCIKITLEARN

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
paises = dados['tourney_name']
paises

0                     Tokyo Olympics
64                            Munich
91                      Queen's Club
122                           Gstaad
149                          Newport
                    ...
2710    Davis Cup WG2 R1: RSA vs VEN
2716    Davis Cup WG2 R1: SUI vs EST
2720    Davis Cup WG2 R1: THA vs DEN
2724    Davis Cup WG2 R1: TUR vs LAT
2727                       Laver Cup
Name: tourney_name, Length: 110, dtype: object

In [ ]:
lencoder = LabelEncoder()

In [ ]:
paises_numeros = lencoder.fit_transform(paises)

In [ ]:
paises_numeros

array([102,  84,  91,  67,  86,   7,  71, 101,  65, 106,  79,  89,  82,
        80,  70,  94,  81,  69,  93, 107,  12,  13,   6, 100,  83, 104,
        61,  62,  78,  60,  68,  10,  99, 103,  63,   0,  75,   8,  92,
       108, 105,   5,   3, 109,  64,  98,  73,   2,  74,  87,   4,  76,
        96,  66,  14,  88,   1,  85,  97,  77,  11,  90,   9,  95,  25,
        26,  33,  21,  22,  32,  27,  28,  29,  20,  23,  24,  31,  36,
        37,  30,  34,  35,  38,  16,  17,  15,  39,  18,  19,  40,  41,
        42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  72])

In [ ]:
paises.head(10)

0      Tokyo Olympics
64             Munich
91       Queen's Club
122            Gstaad
149           Newport
176            Bastad
203         Kitzbuhel
230         Stuttgart
257            Geneva
284            Vienna
Name: tourney_name, dtype: object

In [ ]:
dados ['paises_numeros'] = paises_numeros

In [ ]:
dados

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,paises_numeros
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0,102
64,2021-0308,Munich,Clay,32,A,20210426,271,104655,NaN,NaN,...,27.0,13.0,12.0,3.0,7.0,85.0,897.0,62.0,1037.0,84
91,2021-0311,Queen's Club,Grass,32,A,20210614,270,133430,2.0,NaN,...,44.0,18.0,12.0,2.0,2.0,14.0,2780.0,207.0,327.0,91
122,2021-0314,Gstaad,Clay,32,A,20210719,271,126239,NaN,NaN,...,18.0,18.0,10.0,5.0,7.0,100.0,805.0,281.0,200.0,67
149,2021-0315,Newport,Grass,32,A,20210712,271,202195,NaN,NaN,...,16.0,7.0,7.0,8.0,12.0,155.0,473.0,171.0,425.0,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2710,2021-M-DC-2021-WG2-M-RSA-VEN-01,Davis Cup WG2 R1: RSA vs VEN,Hard,4,D,20210918,1,144750,NaN,NaN,...,5.0,4.0,6.0,1.0,7.0,31.0,1758.0,1921.0,1.0,56
2716,2021-M-DC-2021-WG2-M-SUI-EST-01,Davis Cup WG2 R1: SUI vs EST,Hard,4,D,20210917,1,208502,NaN,NaN,...,28.0,10.0,9.0,6.0,8.0,287.0,199.0,717.0,32.0,57
2720,2021-M-DC-2021-WG2-M-THA-DEN-01,Davis Cup WG2 R1: THA vs DEN,Hard,4,D,20210917,1,144841,NaN,NaN,...,28.0,10.0,8.0,6.0,10.0,1083.0,9.0,767.0,27.0,58
2724,2021-M-DC-2021-WG2-M-TUR-LAT-01,Davis Cup WG2 R1: TUR vs LAT,Hard,4,D,20210918,1,123795,NaN,NaN,...,34.0,20.0,11.0,6.0,9.0,170.0,427.0,671.0,38.0,59
2727,2021-9210,Laver Cup,Hard,8,A,20210924,101,126774,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,8350.0,95.0,798.0,72